<!DOCTYPE html>
<html lang="en" dir="ltr">

  <%-include('../partials/head.ejs')%>

  <body class="background">

    <div class="container">

      <nav>

        <%-include('../partials/nav.ejs')%>

      </nav>

      <a class="btn btn-secondary" href="/friends/<%=friend.id%>">BACK</a>

      <!-- on submit, form-data replaces original data is appended inside the body of the HTTP request and the data is sent to       /friends/:id-->
      <form action="/friends/<%=friend.id%>?_method=PUT" method="POST">

        <fieldset class="mt-5">

          <legend>Update Friend</legend>

          <div class="row mt-4 mb-4">
            <div class="col-6">
              <label class="form-label editLabel">Name</label>
              <input type="text" name="name" class="form-control" value="<%=friend.name%>"/>
            </div>
            <div class="col-6">
              <label class="form-label editLabel">Type of Animal</label>
              <input type="text" name="type" class="form-control" value="<%=friend.type%>"/>
            </div>
          </div>

          <div class="row mt-4 mb-4">
            <div class="col">
              <label class="form-label editLabel">Age</label>
              <input type="text" name="age" class="form-control" value="<%=friend.age%>"/>
            </div>
            <div class="col">
              <label class="form-label editLabel">Breed</label>
              <input type="text" name="breed" class="form-control" value="<%=friend.breed%>"/>
            </div>
            <div class="col">
              <label class="form-label editLabel">Gender</label>
              <select class="form-select" name="gender">
                <option selected><%=friend.gender%></option>
                <% if(friend.gender === 'Female') { %>
                  <option>Male</option>
                <% } else { %>
                  <option>Female</option>
                <% } %>
              </select>
            </div>
          </div>

          <div class="row mt-4 mb-4">
            <div class="col">
              <label class="form-label editLabel">Image URL</label>
              <input type="text" name="img" class="form-control" value="<%=friend.img%>"/>
            </div>
          </div>

          <div class="row mt-4 mb-4">
            <div class="col">
              <label class="form-label editLabel">Description</label>
              <textarea type="text" name="description" class="form-control" rows="3"><%=friend.description%></textarea>
            </div>
          </div>

          <div class="col mb-4">
            <div class="form-check">
              <label class="form-check-label">Is Friend Available?</label>
              <input
              class="form-check-input"
              name="available"
              type="checkbox"
              id="gridCheck"
              <% if(friend.available === true) { %>
                checked
              <% } %>
              />
            </div>
          </div>

          <div class="buttons">
            <input class="btn btn-success" type="submit" value="UPDATE" />
          </div>

          <div class="buttons">

          </div>

        </fieldset>

      </form>

    </div>

  </body>
</html>
