<!DOCTYPE html>
<html lang="en" dir="ltr">

  <%-include('../partials/head.ejs')%>

  <body class="background1">

    <div class="container">

      <nav>

        <%-include('../partials/nav.ejs')%>

      </nav>

      <a class="btn btn-secondary" href="/friends">BACK</a>

      <div class="showDiv">

        <div class="pictureDiv">

          <h1 class="showH1"><u><%=friend.name%></u></h1>

          <% if(friend.img.includes('https://')) { %>
              <img class="showImg" src="<%=friend.img%>" alt="Picture of <%=friend.name%>">
          <% } else { %>
              <img class="showImg" src="https://i.imgur.com/lHR3vHp.png" alt="Image not found">
          <% } %>

          <div class="buttons2">
            <% if(friend.available === false) { %>
              <h4 class="unavailable">ADOPTION PENDING</h4>
            <% } else { %>
              <form action="/friends/<%=friend.id%>/adopt?_method=PUT" method="POST">
                <input class="btn btn-primary showButton" type="submit" value="ADOPT" />
              </form>
            <% } %>

            <% if(currentUser.userTypeId === 1) { %>
              <form action="/friends/<%=friend.id%>/edit" method="GET">
                <input class="btn btn-success showButton" type="submit" value="UPDATE" />
              </form>

              <form action="/friends/<%=friend.id%>?_method=DELETE" method="POST">
                <input class="btn btn-danger showButton" type="submit" value="DELETE"  />
              </form>
            <% } %>

          </div>

          <small class="text-muted">If you're ready for the next step with <%=friend.name%>, click the ADOPT button and we will email you shortly with more information.</small>

        </div>

        <div class="descriptionDiv">
          <h1>About <%=friend.name%>:</h1><br/>
            <% if(friend.available === true) { %>
            <h4>AVAILABLE</h4><br/>
            <% } else { %>
            <h4>ADOPTION PENDING</h4>
            <% } %>

          <p class="showText"><u>Age:</u> <%=friend.age%></p>

          <p class="showText"><u>Animal Type:</u> <%=friend.type%></p>

          <p class="showText"><u>Breed:</u> <%=friend.breed%></p>

          <p class="showText"><u>Gender:</u> <%=friend.gender%></p>

          <label class="showLabel"><u>Description</u></label>
          <p class="showText"><%=friend.description%></p>

        </div>

      </div>

    </div>

  </body>
</html>
