<!DOCTYPE html>
<html lang="en" dir="ltr">

  <%-include('../partials/head.ejs')%>

  <body class="background1">

    <div class="container">

      <nav>

        <%-include('../partials/nav.ejs')%>

      </nav>

      <a class="btn btn-secondary" href="/friends">BACK</a>

      <div class="showDiv">

        <div class="pictureDiv">

          <h1><u><%=friend.name%></u></h1>

          <div class="buttons">
            <% if(friend.available === false) { %>
              <p class="unavailable">ADOPTION PENDING</p>
            <% } else { %>
              <form action="/friends/<%=friend.id%>/adopt?_method=PUT" method="POST">
                <input class="btn btn-primary"type="submit" value="ADOPT" />
              </form>
            <% } %>
          </div>

          <% if(friend.img.includes('https://')) { %>
              <img class="showImg" src="<%=friend.img%>" alt="Picture of <%=friend.name%>">
          <% } else { %>
              <img class="showImg" src="https://i.imgur.com/lHR3vHp.png" alt="Image not found">
          <% } %>

          <div class="buttons">
            <form action="/friends/<%=friend.id%>/edit" method="GET">
              <input class="btn btn-success" type="submit" value="UPDATE" />
            </form>

            <form action="/friends/<%=friend.id%>?_method=DELETE" method="POST">
              <input class="btn btn-danger" type="submit" value="DELETE"  />
            </form>
          </div>

        </div>

        <div class="descriptionDiv">
          <h1>About <%=friend.name%></h1><br/>
            <% if(friend.available === true) { %>
            <h4>AVAILABLE</h4><br/>
            <% } else { %>
            <h4>ADOPTION PENDING</h4>
            <% } %>
          <label><u>Breed</u></label>
          <p><%=friend.breed%></p>
          <label><u>Age</u></label>
          <p><%=friend.age%></p>
          <label><u>Animal Type</u></label>
          <p><%=friend.type%></p>
          <label><u>Breed</u></label>
          <p><%=friend.breed%></p>
          <label><u>Gender</u></label>
          <p><%=friend.gender%></p>
          <label><u>Description</u></label>
          <p><%=friend.description%></p>
        </div>

      </div>

    </div>

  </body>
</html>
